{# view/partials/nav.html.twig #}

<nav id="menu_general">
    <h3>Menu</h3>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('activites') }}">Activités</a></li>
        <li><a href="{{ path('galleries') }}">Galeries</a></li>
        <li><a href="{{ path('partager-lart') }}">Partager l'art</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>
