{# view/partials/nav.html.twig #}

<nav id="menu_general">
    <h3>Menu</h3>
    <ul>
        <li><a href="{{ root }}">Accueil</a></li>
        <li><a href="{{ root }}activites">Activités</a></li>
        <li><a href="{{ root }}galeries">Galeries</a></li>
        <li><a href="{{ root }}partager-lart">Partager l'art</a></li>
        <li><a href="{{ root }}contact">Contact</a></li>
    </ul>
</nav>
