{# view/archives.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
    Archives - {{ parent() }}
{% endblock %}

{% block main %}
    <h2>Archives</h2>
    <section>
        <h3>2015</h3>
            <section>
                <h4>Janvier</h4>
                <ul>
                    <li>Réalisation de bouquets lors de la cérémonie des voeux de Madame le Maire de Plombières les Dijon.</li>
                </ul>
            </section>
            <section>
                <h4>Avril</h4>
                <ul>
                    <li>Démonstration et exposition d'ikebanas avec l'Association Franco-Japonaise de Dijon lors de la manifestation TOKYOTO, 21000 Dijon.</li>
                </ul>
            </section>
            <section>
                <h4>Septembre</h4>
                <ul>
                    <li>Réalisation de bouquets dans l'église de Plombières les Dijon lors de la fête de Saint Fiacre. <a href="{{ path('gallery', {'gallery_slug': 'saint-fiacre-2015'}) }}">(voir les photos)</a></li>
                    <li>Réalisation de 3 grandes installations lors de l'inauguration de la Boutique de la Truffe, 21000 Dijon.</li>
                </ul>
            </section>
            <section>
                <h4>Octobre</h4>
                <ul>
                    <li>Stand d'ikebana, animation d'un atelier lors du festival du manga et de l'animation .dijon//SAITEN, Campus Universitaire, 21000 Dijon.</li>
                </ul>
            </section>
    </section>
    <section>
        <h3>2014</h3>
        <section>
            <h4>Avril</h4>
            <ul>
                <li>Conférence et démonstration d'ikebana pour l'association Femmes 3000 Bourgogne au Clos du Roy, 21300 Chenôve.</li>
            </ul>
        </section>
        <section>
            <h4>Mai</h4>
            <ul>
                <li>Fleurissement de l'église Sainte Bernadette lors du cinquantenaire de cette église contemporaine, 21000 Dijon.</li>
            </ul>
        </section>
        <section>
            <h4>Août</h4>
            <ul>
                <li>Animation d'un atelier d'ikebana et réalisation de deux grands bouquets lors de la manifestation "Courir pour la paix", Château de Chailly, 21320 Chailly sur Armençon. <a href="{{ path('gallery', {'gallery_slug': 'chailly-2014'}) }}">(voir les photos)</a></li>
            </ul>
        </section>
        <section>
            <h4>Septembre</h4>
            <ul>
                <li>Réalisation de bouquets lors de l'inauguration du Centre, 21000 Dijon. <a href="{{ path('gallery', {'gallery_slug': 'le-centre-2014'}) }}">(voir les photos)</a></li>
            </ul>
        </section>
        <section>
            <h4>Octobre</h4>
            <ul>
                <li>Animation d'un atelier d'ikebana et exposition de bouquets à la Bibliothèque de Fontaine d'Ouche, 21000 Dijon.</li>
                <li>Stand d'ikebana et animation d'un atelier lors du Festival du manga et de l'animation .dijon//SAITEN, campus Universitaire, 21000 Dijon.</li>
            </ul>
        </section>
    </section>
    <section>
        <h3>2013</h3>
        <section>
            <h4>Avril</h4>
            <ul>
                <li>Stand d'ikebana à la Japan Fever, salle de l'Escale du Creusot.</li>
            </ul>
        </section>
        <section>
            <h4>Mai</h4>
            <ul>
                <li>Démonstration et exposition d'ikebana avec l'Association Franco-Japonaise de Dijon lors de la manifestation Tokyoto.</li>
            </ul>
        </section>
        <section>
            <h4>Juin</h4>
            <ul>
                <li>Démonstration et exposition d'ikebana à la médiathèque Henri Vincenot de Genlis. <a href="{{ path('gallery', {'gallery_slug': 'genlis-2013'}) }}">(voir les photos)</a></li>
                <li>Exposition d'ikebana pour l'ouverture du Jardin de la Ninette, 21490 Saint Julien. <a href="{{ path('gallery', {'gallery_slug': 'la-ninette-2013'}) }}">(voir les photos)</a></li>
            </ul>
        </section>
        <section>
            <h4>Octobre</h4>
            <ul>
                <li>Stand d'ikebana et animation d'un atelier lors du Festival du manga et de l'animation .dijon//SAITEN, campus Universitaire, 21000 Dijon.</li>
            </ul>
        </section>
        <section>
            <h4>Décembre</h4>
            <ul>
                <li>Exposition d'ikebana dans l'église Notre Dame de Dijon à l'occasion de Noël.</li>
            </ul>
        </section>
    </section>
    <section>
        <h3>2012</h3>
        <section>
            <h4>Février</h4>
            <ul>
                <li>Animation de deux ateliers d'ikebana au Lycée horticole de Tournus dans le cadre d'une découverte du Japon organisée par l'association Japon sur Saône.</li>
            </ul>
        </section>
        <section>
            <h4>Juin</h4>
            <ul>
                <li>démonstration et exposition d'ikebana pour la galerie Expoyé lors des Rendez-Vous aux jardins de Oyé. <a href="{{ path('gallery', {'gallery_slug': 'oye-2012'}) }}">(voir les photos)</a></li>
            </ul>
        </section>
        <section>
            <h4>Septembre</h4>
            <ul>
                <li>Exposition annuelle d'ikebana en partenariat avec Bernadette Pallegoix au Cellier de Clairvaux de Dijon.</li>
            </ul>
        </section>
        <section>
            <h4>Octobre</h4>
            <ul>
                <li>Exposition d'ikebana à la Salle des Banquets de Plombières les Dijon.</li>
                <li>Stand d'ikebana et animation d'un atelier lors du Festival du manga et de l'animation .dijon//SAITEN, Campus Universitaire, 21000 Dijon.</li>
            </ul>
        </section>
        <section>
            <h4>Décembre</h4>
            <ul>
                <li>Animation d'un atelier d'ikebana à la médiathèque de Gueugnon. <a href="{{ path('gallery', {'gallery_slug': 'gueugnon-2012'}) }}">(voir les photos)</a></li>
            </ul>
        </section>
    </section>
{% endblock %}